.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  --emoji-name-color: #646464;

  --theme: #ff5cef;

  min-height: 100dvh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1.5rem;
  padding: 0 1rem;

  max-height: 100vh;
  max-width: 300px;

  background-color: var(--white);
}

@media (prefers-color-scheme: dark) {
  // .page {
  //   --gray-rgb: 255, 255, 255;
  //   --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
  //   --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

  //   --button-primary-hover: #ccc;
  //   --button-secondary-hover: #1a1a1a;
  // }
}

.shimmer {
  background: #efefef;
  width: 68px;
  height: 68px;
  border-radius: var(--global-border-radius);
}

.item {
  position: relative;
  width: 100%;
  background-color: var(--white, #fff);
  border-radius: var(--global-border-radius);
  cursor: pointer;
  overflow: hidden;

  figure {
    width: 100%;
    height: 60svh;
    max-height: 350px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    overflow: hidden;
    background-color: var(--global-background-color);

    img {
      width: inherit;
      height: inherit;
      max-height: inherit;
    }
  }

  &__body {
    padding: 1rem;
    background-color: #141414;
    color: var(--white);
  }

  // &:after {
  //   content: attr(data-name);
  //   font-size: 8px;
  //   color:var(--gray);
  //   position: absolute;
  //   top: -1.8rem;
  //   display: none !important;
  // }

  &:active {
    transform: scale(0.9);
  }

  &:hover {
    background-color: var(--white);

    .emoji__icon {
      transform: rotate(10deg) scale(1.7);
    }

    small {
      opacity: 1;
      transition: all 200ms linear;
    }
  }

  p {
    font-weight: 400;
    word-spacing: 1px;
    font-size: 12px;
    color: #a2a9b0;
    text-wrap: balance;
    margin-top: 0.5rem;
  }

  &__icon {
    position: absolute;
    top: -1.5rem;
    font-size: 1.8rem;
    will-change: transform;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    z-index: 999;
  }
}

.nav {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  right: 0;
  width: 60vw;
  transform: translateX(-50%);
  background-color: var(--white);
  border-radius: 999px;
  background-color: #faf9fe;
  padding: .5rem .7rem;
display: none;
  a {
    color: #acc2d2;
  }
}

.soldout {
  background-color: rgba(255, 0, 0, .5);
  position: fixed;
  inset: 0;
  z-index: 999;
  color: white;
display: flex;
align-items: center;
justify-content: center;
font-size: max(12vw);
font-weight: bolder;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .footer {
    &:hover {
      transform: scale(1.1);
    }
  }
}

@media (max-width: 600px) {
  .page {
  }

  .main {
    align-items: center;
  }

  .footer {
    display: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (max-height: 400px) {
  .footer {
    display: none;
  }
}
